#story{
  font-size: 30px;
  text-align: center;
  color: black;

  background-image: url("../image/new.jpg");
  /*font-style: */
}
p{
  font-family: "police";
  color:white;
  font-size: 50px;
  src: url("../font/airstrikeacad.ttf");
  width: 20%;
  height: 20%;
  padding-left: 38%;
}
.answer{
  color:blue;
  font-size: 25px;

}
body{
  text-align: center;
  border: 2px;
  width: 1000px;
  height: 1000px;
  padding-left: 20%;

}
@font-face {
  font-family: "police";
  src: url("../font/airstrikeacad.ttf");
}
